<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <!-- start -->
    <div class="navbar navbar-expand-md bg-dark navbar-dark text-white">
        <div class="container">
         <a href="#" class="navbar-brand"> welcome <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-smile" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
          </svg>  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
          </svg> </a>
      
         <button class="navbar-toggler" 
         type="button"
          data-bs-toggle="collapse"
           data-bs-target="#mainmenu">
          <span class="navbar-toggler-icon"></span>
          </button>
      
         <div class="collapse navbar-collapse" id="mainmenu">
           <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a href="index.html" class="nav-link">home</a></li>
            <li class="nav-item"><a href="about.html" class="nav-link">about</a></li>
             <li class="nav-item"><a href="post.html" class="nav-link">post</a></li>
             <li class="nav-item"><a href="contact us.html" class="nav-link">contact us</a></li>
           </ul>
         </div>
        </div>
      </div>
      <!--  start nav bar -->
      <section id="here" class="bg-dark text-light text-center text-sm-start py-5">
       <div class="container">
        <div class="d-sm-flex  align-items-center justify-content-center">
          <div class="py-3">
           
            <p class="py-2 lead text"><h4> write your favorite  recipe here! </h4> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
              </svg>
             </p>
          </div>
        
        </div>
        <img  class="img-fluid " src="/img/post.svg" alt="new">
       </div>
      </section>
      <!--  end nav bar -->

    <!-- start main  -->

    <div class="row ">
        <div class="col-sm-6">
          <div class="card">
            <div class="card" style="width: 18rem;">
                <img src="./img/fish.jpg" class="card-img-top" alt="fish">
                <div class="card-body">
                  <h5 class="card-title">fish</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="/posts/create" class="btn btn-primary">add post</a>
                </div>
              </div>

          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card" style="width: 18rem;">
                <img src="./img/meat.jpg" class="card-img-top" alt="meat">
                <div class="card-body">
                  <h5 class="card-title">meat</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">add post</a>
                </div>
              </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card" style="width: 18rem;">
                <img src="./img/chicken.jpg" class="card-img-top" alt="chicken">
                <div class="card-body">
                  <h5 class="card-title">chicken</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">add post</a>
                </div>
              </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card" style="width: 18rem;">
                <img src="./img/pasta.jpg" class="card-img-top" alt="pasta">
                <div class="card-body">
                  <h5 class="card-title">pasta</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">add post</a>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card" style="width: 18rem;">
                <img src="/img/bread.jpg" class="card-img-top" alt="bread">
                <div class="card-body">
                  <h5 class="card-title">bread</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">add post</a>
                </div>
              </div>

          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card" style="width: 18rem;">
                <img src="./img/burger.jpg" class="card-img-top" alt="burger">
                <div class="card-body">
                  <h5 class="card-title">burger</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">add post</a>
                </div>
              </div>

          </div>
        </div>
      </div>

    <!--end main -->
    <!-- end -->
    <% for (post of posts) { %> 
        <div class="card">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%=post.title  %> </h5>
                  <p class="card-text"><%=post.content %> </p>
                  <a href="/edit/<%= post._id %> " class="btn btn-primary">edit</a>
                  <a href="/delete/<%= post._id %> " class="btn btn-danger">delete</a>
                </div>
              </div>

          </div>
        <% } %> 
</body>
</html>